.formPayroll {
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin: 10px;
}

.ativo {
    background-color: green;
}

.desat {
    background-color: red;
}

mat-card {
    width: 200px;
    box-shadow: 3px 3px 7px black;
    margin: 10px;
    padding: 0;
    text-align: center;
}

mat-card-header {
    text-align: center;
    background-color: lightgray;
    padding: 0;
}

mat-card-footer {
    width: 200px;
    text-align: center;
    background-color: lightgray;
    padding: 0;
    margin: 0 !important;
    margin-bottom: -16px !important;
}

.cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}